# Simula delay na base de dados
SIMULATE_WAIT_IN_MS=0
# Tamanho máximo para upload
FILE_UPLOAD_MAX_SIZE=921600
# Diretório para upload de imagens
IMAGE_UPLOAD_DIRECTORY=uploads
# URL do servidor para upload de imagens
IMAGE_SERVER_URL="http://theblog.felipemarquesdesign.com/uploads"
# Chave usada para assinar os tokens JWT
JWT_SECRET_KEY="JDJiJDEwJDRRZDdyRFlOMWdRYld0eVAwMmkzN3VjaGpZU2JnbzN6WUlMb3k0Z1lOc1BkQi5uZGJldkpH"

# Tempo para o login expirar (valor em segundos)
LOGIN_EXPIRATION_SECONDS=86400
LOGIN_EXPIRATION_STRING="1d"

# Nome do cookie usado para login
LOGIN_COOKIE_NAME="loginSession"

# Nome de usuário para login no Blog
LOGIN_USER="felipe"
# Use o arquivo src/utils/generate-hashed-password.ts (npx tsx) para gerar seu hash de senha
LOGIN_PASS="JDJiJDEwJE05WkMzV3cvcTd6RmJ1dC4wTC9aLk9tbkx5elppLzdPZzZZanM4UHY4dFFIcGNpZHhDckxX"

# Permite ou não login (0 = Não, 1 = Sim)
ALLOW_LOGIN=1